/*if site doesnt want to work properly do this :
git reset --hard 93ee1d8
npm install
ng serve
and write in packaje.json terminal
*/

<section class="container mx-auto px-4 py-6">
  <app-category-slider></app-category-slider>

  <h2 class="text-3xl font-bold text-center my-10 text-gray-700">All Categories</h2>

  <div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <div
      *ngFor="let cat of categories"
      class="group relative overflow-hidden rounded-2xl shadow-md cursor-pointer hover:shadow-xl transition-shadow"
      [routerLink]="['/user/categories', cat._id]"
    >
      <img
        [src]="cat.image"
        [alt]="cat.name"
        class="w-full h-56 object-cover transition-transform duration-500 group-hover:scale-110"
      />

      <div
        class="absolute bottom-0 left-0 right-0 bg-blue-700 bg-opacity-50 text-white text-center py-2 text-lg font-semibold">
        {{ cat.name }}
      </div>
    </div>
  </div>
</section>
