@if (loading) {
  <div class="text-center py-10 text-gray-500">
    Loading product details...
  </div>
}

@if (!loading && product) {
  <div class="product-details container mx-auto p-6" >
    <div class="flex flex-col md:flex-row items-center gap-8">
      <!-- Product Image -->
      <div class="w-full md:w-50">
        <img [src]="product.imageCover || product.image" alt="{{ product.title }}" class="w-full rounded-lg shadow-lg" />
      </div>
      <!-- Product Info -->
      <div class="w-full md:w-1/2 space-y-4">
        <h2 class="text-3xl font-bold text-gray-800">{{ product.title }}</h2>
        <p class="text-lg text-gray-600">{{ product.description }}</p>
        <div class="flex items-center gap-3">
          <span class="text-2xl font-semibold text-green-600">{{ product.price }} EGP</span>
          @if (product.ratingsAverage) {
            <span class="text-yellow-500 text-lg">
              ⭐ {{ product.ratingsAverage }} / 5
            </span>
          }
        </div>
        <button class="bg-green-500 hover:bg-green-600 text-white px-6 py-2 rounded-lg transition cursor-pointer">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
}

@if (!loading && !product) {
  <div class="text-center text-gray-400 py-10">
    Product not found 😢
  </div>
}

